<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="col-sm-6">
				 <button class="btn btn-primary glyphicon glyphicon-search"></button>
			</div>
		</div>
	</div>
</div>