<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			
			<div class="col-sm-6">
				<div class="col-xs-10">
					<input type="text" class="form-control" placeholder="Donor ID"></input>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-primary glyphicon glyphicon-search"></button>
				</div>
			</div>

		</div>
	</div>
</div>