<div class="container fade-in" id="about-page">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="col-sm-12">
				<h1 class="centered">About SangRou.ge:</h1>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<p>
					SangRouge is a web-based blood donation system. By keeping the donor as our focal point, we can help avoid donors having to fill out new forms for each unique organization.
				</p>
				<p>
					By doing this, we aim to shorten time filing paperwork and increase efficiency at your blood drive.
				</p>
			</div>
		</div>
	</div>
</div>