$navbar-text-color: white;
$body-text-color: white;
$navbar-accent-color: #B30000;
$dropdown-hover-color: #FF7979;

@-webkit-keyframes fadeIn { from { opacity:0; top: 15px; } to { opacity:1; top: 0 } }
@-moz-keyframes fadeIn { from { opacity:0; top: 15px; } to { opacity:1; top: 0 } }
@keyframes fadeIn { from { opacity:0; top: 15px; } to { opacity:1; top: 0 } }

body {
	background-image: image-url('sunset-blurred-backgrounds.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Lato', sans-serif;
	color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: $dropdown-hover-color;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: $dropdown-hover-color;
	color: $navbar-text-color;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: $navbar-text-color;
}

ul.dropdown-menu {
	background: $dropdown-hover-color;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background: red;
}

nav.navbar {
	border-radius: 0;
	background: red;
	font-family: 'Comfortaa', cursive;
	border-color: $navbar-accent-color;
	
	.navbar-collapse {
		border-color: $navbar-accent-color;
	}

	.navbar-brand {
		color: $navbar-text-color;

		#brand {
			max-height: 100%;
		}
	}
	
	.navbar-toggle {
		border-color: $navbar-accent-color;
		.icon-bar {
			background-color: $navbar-accent-color;
		}
	}

	.navbar-toggle:hover {
		background-color: $dropdown-hover-color;
	}
	
	.navbar-nav li a, .navbar-nav ul li a {
		color: $navbar-text-color;
	}
}

.form {
	background: rgba(255,255,255,0.3);
	padding: 10px;
	border-radius: 5px;

	.btn {
		width: 100%;
	}
}

.form-control {
		border-radius: 2px;
}

.centered {
	text-align: center;
}

#flash-messages {
	
	h3.alert-danger {
		font-size: 24px;
		padding: 10px;
		border-radius: 2px;
		background: rgba(236,95,95,1);
		small {
			color: $body-text-color;
		}	
	}

	h3.alert-success {
		font-size: 24px;
		padding: 10px;
		border-radius: 2px;
		background: #33B947;
		small {
			color: $body-text-color;
		}	
	}
}

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
	animation-duration:0.3s;
}
 
.fade-in {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}