$navbar-text-color: white;
$body-text-color: white;

body {
	background: url('sunset-blurred-backgrounds.jpg');
	background-repeat: tile;

	color: white;
}

nav.navbar {
	border-radius: 0;
	background: red;

	.navbar-brand {
		color: $navbar-text-color;
	}
	
	.navbar-nav li a {
		color: $navbar-text-color;
	}
}

.form {
	background: rgba(255,255,255,0.3);
	padding: 10px;
	border-radius: 5px;

	.btn {
		width: 100%;
	}
}

.centered {
	text-align: center;
}